<%= simple_form_for @list, html: {multipart: true} do |f| %>
  <h1>New List</h1>

  <%= f.input :name %>

  <%= f.input :image, as: :file %>

  <%= f.submit %>

  <%= link_to 'Back', lists_path %>
<% end %>
